h2{
	margin:50px 0px; padding:0px;
	text-align:center;
}

body {
	background-image: url("http://fc09.deviantart.net/fs71/i/2012/293/2/b/smooth_background_by_allnet-d5ifgsh.png");
	background-repeat: no-repeat;
	background-size: cover;
}

h3{
	
}